<div class="col-xs-12">
    <div class="container-fluid">
        <div class="row">
            <form novalidate method="post" class="form-horizontal col-xs-12" name="form" ng-submit="vm.save()">
                <div class="form-group">
                    <label for="title" class="control-label col-xs-2">Title</label>
                    <div class="col-xs-4">
                        <input type="text" name="title" id="titleIdInput" class="form-control validate" placeholder="Title" ng-model="vm.course.title" required>
                    </div>
                    <div class="col-xs-2" ng-show="form.$submitted || form.title.$touched">
                        <span ng-show="form.title.$error.required" class="information-field" ng-class="{invalid:form.title.$error.required}">*Required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="control-label col-xs-2">Description</label>
                    <div class="col-xs-8">
                        <textarea name="description" id="descriptionIdInput" class="description-area form-control validate" rows="3 " placeholder="Description" ng-model="vm.course.description" required></textarea>
                    </div>
                    <div class="col-xs-2" ng-show="form.$submitted || form.description.$touched">
                        <span ng-show="form.description.$error.required" class="information-field" ng-class="{invalid:form.description.$error.required}">*Required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="control-label col-xs-2 ">Datetime</label>
                    <div class="col-xs-3 ">
                        <input type="text" name="datetime" id="datetimeIdInput" class="form-control validate" placeholder="dd.mm.yyyy" ng-model="vm.course.datetime" btf-datetime datetime-value="vm.course.datetime" required>
                    </div>
                    <div class="col-xs-2" ng-show="form.$submitted || form.datetime.$touched">
                        <span ng-show="form.datetime.$error.required" class="information-field" ng-class="{invalid:form.datetime.$error.required}">*Required</span>
                        <span ng-show="form.datetime.$error.btfDatetime" class="information-field" ng-class="{invalid:form.datetime.$error.btfDatetime}">*dd.mm.yyyy format required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="control-label col-xs-2 ">Duration</label>
                    <div class="col-xs-2 ">
                        <input type="text" name="duration " id="durationIdInput" class="form-control validate" placeholder="Time Duration" ng-model="vm.course.duration" required>
                    </div>
                    <btf-duration duration="vm.course.duration"></btf-duration>
                    <div class="col-xs-2" ng-show="form.$submitted || form.duration.$touched">
                        <span ng-show="form.duration.$error.required" class="information-field" ng-class="{invalid:form.duration.$error.required}">*Required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="authors" class="control-label col-xs-2">Authors list</label>
                    <btf-authors available-authors="vm.course.avAuthors" course-authors="vm.course.authors"></btf-authors>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-2">
                        <button type="submit" class="btn btn-default btn-block">Save</button>
                    </div>
                    <div class="col-xs-2">
                        <button ui-sref="shell.courses" class="btn btn-default btn-block">Decline</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>