    @import './../../common/styles/variables.scss';
    @import './../../common/styles/colors.scss';
    .information-field {
        line-height: 34px;
        @include ellipsis($max-validation-info-width);
    }
    
    .validate.ng-invalid.ng-touched {
        &.form-control {
            @include form-border($color-invalid);
        }
    }
    
    .information-field {
        &.valid {
            color: $color-valid;
        }
        &.invalid {
            color: $color-invalid;
        }
    }