<div class="projects-page">
	<div class="page-header clearfix">
		<h1>Projects</h1>
		<div class="text-right">
			<button class="btn btn-default new-project-btn" ui-sref="shell.newProject" data-test-newproject>
				<span class="glyphicon glyphicon-plus-sign"></span> New project
			</button>
		</div>
	</div>
	<div class="page-header-line"></div>
	<div class="page-body">
		<div ng-repeat="project in vm.projects" class="project-card-container">
			<div class="project-card plate cursor-pointer" ng-click="vm.redirectToDetails(project)"
				 data-test-projectid="{{project.id}}">
				<div class="plate-body">
					<div class="card-header">
						CREATED: <span>{{:: project.dateCreated | date : 'MM/dd/yy'}}</span>
					</div>
					<div class="card-title" data-test-projectname>
						{{:: project.name}}
					</div>
					<div class="card-footer">
						Experts: <span data-test-expertcount>{{ project.expertsCount }}</span>
						<span ng-if="project.newExpertsFlag" class="text-danger glyphicon glyphicon-flag"></span>
						<span ng-if="project.readyToScheduleFlag" class="text-danger glyphicon glyphicon-earphone"></span>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="!vm.isLoading && !vm.projects.length">
			<p>You currently have no open projects.</p>
			<p>Please click the <a ui-sref="shell.newProject">New Project</a> button, or contact your <a href="mailto:jsmith@colemanrg.com">Account Manager</a> to create one.</p>
		</div>

		<co-loader is-loading="vm.isLoading"></co-loader>

		<div class="clearfix"></div>
	</div>
</div>
