<div ui-view class="col-xs-12">
    <div class="container-fluid">
        <div class="row panel-search">
            <div class="form-group col-xs-6">
                <div class="row">
                    <div class="col-xs-9">
                        <input type="search" class="form-control" placeholder="Item Substring Search" name="filter" id="filterId" ng-model="vm.filterValue">
                    </div>
                    <div class="col-xs-3">
                        <button ng-click="vm.filter.setValue(vm.filterValue)" class="btn btn-default btn-block" name="filterBtn" id="filterBtnId">Filter</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-offset-3 col-xs-3">
                <button ui-sref="shell.courses.courseNew" type="button" class="btn btn-default btn-block">Add New Course</button>
            </div>
        </div>
        <div ng-repeat="course in vm.courses | courseTitleFilter : vm.filter.getValue()" class="row">
            <div class="col-xs-12 panel panel-default">
                <div class="row panel-body">
                    <div class="col-xs-10">
                        <div class="row">
                            <div class="col-xs-4">
                                <h4>{{course.title}}</h4>
                            </div>
                            <div class="col-xs-4">
                                <h4>{{course.duration | courseDurationFilter}}</h4>
                            </div>
                            <div class="col-xs-4">
                                <h4>{{course.datetime}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p>{{course.description}}</p>
                                <btf-values-enumeration values="course.authors"></btf-values-enumeration>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <button ui-sref="shell.courses.course({id : course.id})" class="btn btn-default btn-block">Edit</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <button ng-click="vm.deleteCourse(course)" class="btn btn-default btn-block">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>